#control{
    padding: .5em 1em;
}
#countdown{
        font-size: 70px;
        top: 65%;
        text-align: center;
        width: 100%;
        position: relative; 
  　　　top: 100px;
}

#control select{
    font-size: 18px;
    padding: .5em 1em;
    width: 10em;
    border: solid 1px #363636;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2) inset;
    text-align: center;


}

#control input[type=text]{
    width: 20em;
    display: inline-block;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2) inset;
    text-align: center;
}

