#control{
    padding: .5em 1em;
}
#countdown{
        font-size: 55px;
        top: 100%;
        text-align: center;
        width: 100%;
        position:top: 120px;
}

#control select{
    font-size: 18px;
    padding: .5em 1em;
    width: 15em;
    border: solid 1px #363636;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .0) inset;
    text-align:;


}

#control input[type=text]{
    width: 5em;
    display: inline-block;
    box-shadow: inset;
    text-align: center;
}

