body{
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-size: 35px;
	line-height: 2.0;

	color: #87CEFA;
	margin: 3;

}
article{
	width: 10em;
	margin: auto;
}
button{
	font-size: 80%;
	color: #fefefe;
	background-color: #8ADFF9;
	padding: .4em 1em;
	border: none 1px #57D0FC;
	border-radius:3px;
	display: inline-block;
}
button:hover{
	background-color: #7CCBF6;
	border: solid 1px #D5ECF8; 
	
}
button:active{
	box-shadow: inset #C7E7FC 1px 1px 2px;
}
input[type=text]{
	font-size: 23px;
	color: #9A9D9F;
	width: 80%;
	margin: .6em 0;
	padding: .6em 2em;
	border-radius: 1px;
	border: solid 2px #F7FA95;
	display: block;

}

.hidden{
	display: none;
}

.error, .warning, .info{
	font-size: 80%;
	font-weight: bold;
	padding: .5em;
	border-radius: 4px;
}

.error{
	background-color: #;
}

.warning{
	background-color: #F2D541;
}

.info{
	color: #fefefe;
	background-color: #14A697;
}